.chart-bar{
    display: flex;
    padding: 0.8rem 0 0.8rem 0;
    height: 10rem;
    flex-direction: column;
}

.chart-bar__fill__box{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 8px;
    width: 1rem;
    background-color:rgba(155, 97, 186, 0.432);
    border: 1.5px solid rgb(112, 67, 137);
    overflow: hidden;
    transition: all 0.3s ease-in;
}

.chart-bar__fill{
    background-color: rgb(65, 65, 209);
    width: 100%;
    border-radius: 8px;
    transition: all 0.3s;
    
}

.chart-bar__label{
    font-size: 0.6rem;
    font-weight: bold;
    color: #222;
    text-align: center;
}